{% extends "base.html" %}
{%   load   staticfiles   %}  

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'principal/css/style.css'   %}"   />
{% endblock %}

{% block content %}

{% if los_articulos %}
	{% for Articulo in los_articulos %}
		<div id="box_articulo">
			<div id="box_imagen">
				<img src="{{Articulo.fotografia}}" >
			</div>
			<div id="box_detalle">
				<p class="texto_importante">{{ Articulo.nombre }}</p>
				<p class="texto_normal">Familia : {{ Articulo.familia }}</p>			
				<p class="texto_normal">Fecha : {{ Articulo.antiguedad }}</p>
				<p class="texto_importante">P.V.P. : {{ Articulo.importe }} €</p>			
			</div>	
		</div>
	{% endfor %}
{% else %}
	<p>no hay Articulos</p>
{% endif %}		

{% endblock %}
