
/* body   {  
background:   white   url("imagenes/nata.png")   ­repeat   right  
bottom; 
} */

table, th , td {
	border: 1px solid black;
	border-collapse:collapse;
}

th    {  
     color:   black; 
}  

td    {  
     color:   green; 
}  
td:hover { 
  background: yellow;
}
.familia {
	width: 250; 
}
    	
